@import '~ocromi/src/css/variables/colors';


$primary: $purple-5;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: $light-green-12;
$negative: $red-9;
$info: #31ccec;
$warning: #f2c037;


@import '~ocromi/src/css/variables';
